[data-auto-scroll] {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

.v-modal {
    opacity: 0.8;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// echarts 插件样式 开始 ========>
.echarts-tip-h5 {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.8;
}

.echarts-tip-p {
    line-height: 1.8;
}

.echarts-tip-div {
    display: flex;
    align-items: center;
    min-width: 120px;
    line-height: 1.8;

    .left {
        flex: 8 0 auto;
    }

    .right {
        flex: 2;
        text-align: right;
    }
}

.level-tip-div {
    align-items: center;
    min-width: 120px;
    line-height: 1.8;

    .left {
        flex: 8 0 auto;
    }

    .right {
        flex: 2;
    }
}

.echarts-span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    border-radius: 10px;
}

// echarts 插件样式 <======== 结束

.u-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.u-line-2 {
    -webkit-line-clamp: 2;
}

.u-line-3 {
    -webkit-line-clamp: 3;
}

.u-line-4 {
    -webkit-line-clamp: 4;
}

.u-line-5 {
    -webkit-line-clamp: 5;
}

.u-line-2, .u-line-3, .u-line-4, .u-line-5 {
    display: -webkit-box; // 弹性伸缩盒
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}

.global-wrap {
    width: 1920px;
    height: 1080px;
    background-image: url("@/assets/images/bg.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-position: center bottom;

    // transition: all 0.2s ease;

    &[v-cloak] {
        display: none;
    }
}
