<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>大屏</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta name="Keywords" content="大屏"/>
</head>
<body>
    <div id="app" class="wrap"></div>
    <% if (VITE_APP_ENV !== 'development') { %>
        <script type="module" src="./assets/plugin/echarts.min@5.1.2.js"></script>
    <% } else { %>
        <script type="module" src="./assets/plugin/echarts@5.1.2.js"></script>
    <% } %>
    <!-- <script type="module" src="./assets/plugin/echarts-liquidfill.js"></script> -->
    <script type="module" src="./assets/config/index.js"></script>
    <script type="module" src="./assets/js/init.js"></script>
    <script type="module" src="/src/index.js"></script>
</body>
</html>
